body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  margin: 0;
  padding: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #222;
  font-weight: normal;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body:hover,
div:hover,
span:hover,
header:hover,
footer:hover,
nav:hover,
section:hover,
aside:hover,
article:hover,
ul:hover,
dl:hover,
dt:hover,
dd:hover,
li:hover,
a:hover,
p:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
i:hover,
b:hover,
textarea:hover,
button:hover,
input:hover,
select:hover,
figure:hover,
figcaption:hover {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
header,
footer,
nav,
section {
  text-align: center;
  line-height: 1;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  font-size: 0.14rem;
  /*font-size: 100%;   !*fix IE 不支持rem (引入了自己写的rem.js就好了，所以一般不要在这里修改) bug*!*/
  color: #222;
  -webkit-tap-highlight-color: transparent; /*点击不闪*/
  -webkit-touch-callout: none;
/*系统默认菜单被禁用*/
  -webkit-user-select: none;
/*webkit浏览器*/
  -khtml-user-select: none;
/*早期浏览器*/
  -moz-user-select: none;
/*火狐*/
  -ms-user-select: none;
/*IE10*/
  user-select: none;
}
input[type="button"],
input[type="submit"],
input[type="search"],
input[type="reset"] {
  -webkit-appearance: none;
}
.clearfix {
  display: inline-block;
}
.clearfix:after {
  display: block;
  content: '';
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/*border end*/
/*background-image start*/
/*background-image end*/
/*input[type=search]::-webkit-search-cancel-button
  -webkit-appearance: none
  position: relative
  &::after
    position: absolute
    content: 'x'
    right: .04rem
    top: 0
    font-size .16rem
    line-height .33rem
    color: #5156ff*/
@-moz-keyframes jetter {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-webkit-keyframes jetter {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}
@-o-keyframes jetter {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes jetter {
  0% {
    transform: translateX(0px);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(0px);
  }
  75% {
    transform: translateX(-6px);
  }
  100% {
    transform: translateX(0px);
  }
}
body {
  background-color: #ffc0cb;
}
